

body 
{
	background-image:url(background.jpg);
	background-position: top right;
}
h1 
{
	background-color: yellow;
	background-position:left;
 }
p {background-color:white}


body {font-family: Cursive;}